
/*background styling for home page jumbotron container*/
.jumbotron-home {
    background-image: url(images/homeBackground.png);
    background-position: right;
    background-size:cover;
    height: 120vh;
    padding:0;
    margin:0;
}

/*default styling for jumbotron container*/
.jumbotron {
    background-color: #E0DEDE;
}

/*background styling for ingredients page jumbotron container*/
/*breakpoint for mobile*/
@media (max-width: 500px) {
    .jumbotron-ingredients {
    background-image: url(images/pizzaandpaper2.png);
    background-position: center;
    background-size:cover;
    height: 300vh;
    padding:0;
    margin:0;
    }
}

/*background styling for ingredients page jumbotron container*/
/*breakpoint for non-mobile*/
@media (min-width: 500px) {
    .jumbotron-ingredients {
          background-image: url(images/pizzaandpaper2.png);
    background-position: left;
    background-size:cover;
    height: 100vw;
    padding-bottom:100vh;
    margin:0;
    }
}

/*background styling for loading page jumbotron container*/
.jumbotron-loading {
    background-image: url(images/cookingtable.png);
    background-position: left;
    background-size:cover;
    height: 100vh;
    padding:0;
    margin:0;
}

/*background styling for results page jumbotron container*/
.jumbotron-results {
    background-color:#FCC59F; 
    background-position: left;
    background-size:cover;
    height: 700vh;
    padding:0;
    margin:0;
}

/*default font for all container content*/
.container-fluid{
font-family: Roboto, Arial, Helvetica, sans-serif;
}

/*header text spacing*/
#header-text{
margin-bottom:1%;
/*animaton delay for loading page*/
-webkit-animation-delay: 1s;
}

/*animaton delay for subhead on loading page*/
#info-text{
 -webkit-animation-delay: 1s;
}

/*styling for right hand home box text*/
#home-text{
float:right;
}

/*styling for right hand home box*/
#home-box {
float:right;
padding-right:5%;
margin-top:5%;
}

/*styling for spatula home icon*/
#spatula-icon{
position:relative;
float:right;
max-width:15%;
}

/*styling for right hand wishlist box text*/
#saved-text{
float:right;
margin-top:0;
}

/*styling for right hand wishlist box*/
#wishlist-box {
right:0;
float:right;
padding-right:5%;
}

/*styling for right hand wishlist box on home page*/
#wishlist-box-2 {
right:0;
float:right;
padding-right:5%;
margin-top:5%;
}

/*styling for text within wishlist box*/
#wishlist-div h5{
position:relative;
float:right;
padding-right: 5%;
padding-left:1%;
}

/*styling for heart favorites/wishlist icon*/
#heart-icon{
max-width:3%;
position:relative;
float:right;
}

.selection-menu {
    margin-bottom: 15%;
}

/*font for radio button labels*/
label {
font-family:Roboto;    
}

/*styling for cards on results page*/
#results-box {
padding-right:5%;
}

/*styling for loading page main text*/
#loading-box {
  display: table;
  margin: auto;
  text-align:center;
}

#no-results {
  display: table;
  margin: auto;
  text-align:center;
  margin:10%;
  color:maroon;
}

/*styling for knife animation on loading page*/
#knife-image {
  animation: skew 1s infinite;
  transform: skew(0deg);
  animation-direction: up;
  max-width:30%;
  -webkit-animation-delay: 2s;
}

/*details for knife animation on loading page*/
@keyframes skew {
  0% {
    transform: skewY(-20deg);
  }
  100% {
    transform: skewY(20deg);
  }
}

/*styling for welcome box on home page*/
#welcome-box {
	margin-left:5%;
	margin-top:-5%;
}

/*styling for welcome box on ingredients page*/
#welcome-box-2 {
	margin-left:5%;
}

/*styling to create rounded borders*/
.rounded {
  border-radius: 5px;
}

/*styling for header of cards*/
.card-header{
	background-color: #4D4D4D;
	color: rgba(0, 0, 0, 0);
    font:Roboto;
    padding:2%;
}

/*styling for cards*/
.card {
	background-color: white;
    margin-top:15%;
}

/*styling for card titles*/
.card-title{
	text-align: center;
	padding-bottom:10%;
}

/*styling for text on cards*/
.card-text p{
    font-size: 14px;
    padding-left:2%;
}

/*styling for images on cards*/
.card-image {
    height:100px;
    width: auto;
	float:right;
}

/*styling for favorite-ing icon on cards*/
.fav-icon {
	width:10%;
	float:left;
}

/*styling for hidden remove icon on favorite cards
to ensure proper height*/
.remove-icon {
    width:10%;
    float:left;
    padding-bottom: 5%;
    opacity:0.0;
}

/*styling for remove text on favorite cards*/
.remove-text {
    float:left;
}

/*styling for interior container in cards*/
.container-interior{
    background-color: white;
}

/*styling for text on fridge on home*/
#fridge-text{
    text-align: right;
	float:right;
	padding-bottom:1%;
	padding-right: 3%;
	position:relative;
	z-index:1;
}

/*styling for position of fridge on home*/
/*breakpoint for non-mobile*/
@media (max-width: 1000px) {
#fridge-area{
    position:relative;
    margin-top:10%;
    -webkit-animation-iteration-count: infinite;
    }
}

/*styling for position of fridge on home*/
/*breakpoint for mobile*/
@media (min-width: 100px) {
   #fridge-area{
    position:relative;
    margin-top:150px;
    -webkit-animation-iteration-count: infinite;
    }
}

/*styling for image of fridge on home*/
#fridge-button {
    width:200px;
    height:auto;
    overflow: hidden;
    outline:none;
    position:absolute;
    z-index:0;
	right:0;    
    margin-right:2%;
}

/*styling for image hover of fridge on home*/
#fridge-button:hover {
        box-shadow: 0 12px 16px 0 rgba(255,255,0,0.9), 0 17px 50px 0 rgba(255,255,0,0.9);
}

/*styling for first dropdowns on ingredients page*/
#first-column {
	margin-left:20%;
	margin-top:5%;
}

/*styling for submit button on ingredients page*/
#submit-criteria {
position:relative;
margin-right:20%;
margin-top:5%;
float:right;
}

/*styling for default button*/
.btn-default {
	background-color:#FFD99A;
	padding-top: 0;
}

/*styling for remove button on favorites page*/
#remove-button{
	padding-top:15%;
}

/*styling for submit button on ingredients page*/
#dropdown-one {
    margin-top:5%;
}

/*styling for close button on favorites page*/
.close-button {
float:right;
}

/*styling for credits box on bottom left of page*/
.credits-box {
	font-size:8px;
	position:absolute;
	bottom:0;
	left:5%;
}

/*styling for credits box on bottom right of page*/
.credits-box-2 {
	font-size:8px;
	position:relative;
	bottom:0;
	float:right;
	text-align: right;
}